<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>{{ title }}</title>
	<link href="http://localhost:9090/Stadion/index/templates/index.css" rel="stylesheet" type="text/css">
	<link rel="stylesheet" type="text/css" href="http://localhost:9090/Html/slick-master/slick/slick.css">
  	<link href="http://localhost:9090/Html/slick-master/slick/slick-theme.css">
  	<style>
 .slider {
        width: 100%;
        margin: 100px auto;
    }

.slick-slide {
      margin: 0px 20px;
    }

.slick-slide img {
      width: 100%;
    }

.slick-prev::before,
.slick-next::before {
      color: black;
    }


.slick-slide {
      transition: all ease-in-out .3s;
      opacity: .2;
    }

.slick-active {
      opacity: .5;
    }

.slick-current {
      opacity: 1;
    }
  	</style>
</head>
<body>
<header>
<!-- <div class="navbar">
	<div class="navbar-menu">
	<a href="#">Главный</a>
	<a href="#">Регистрация</a>
	<a href="#">Купить билет</a>
	</div>
</div>
-->
</header>
<section>
	<div class="main-match-times">
	<ul class="mathes-spicok">
	{% for match in afisha %}
		<li><a href="#">{{ match.title }}<br>{{ match.time }}</a></li>
	{% endfor %}
	</ul>
	</div>
</section>
<section>
	<div class="main-page">
		<div class="main-text"> Стадион Басты Сайты</div>
		<div class="center slider">
				{% for image in media %}
					<div>
						<img src="http://localhost:9090/{{image.1}}">{{image.0}}<img/>
					</div>
				{% endfor %}
		</div>
	</div>
</div>
</section>
  	<script src="http://localhost:9090/Html/jquery/jquery-2.2.0.min.js"></script>
	<script src="http://localhost:9090/Html/slick-master/slick/slick.js"></script>
	<script >
$(document).ready(function() {
$('.center').slick({
  centerMode: true,
  centerPadding: '60px',
  slidesToShow: 3,
  responsive: [
    {
      breakpoint: 768,
      settings: {
        arrows: false,
        centerMode: true,
        centerPadding: '40px',
        slidesToShow: 3
      }
    },
    {
      breakpoint: 480,
      settings: {
        arrows: false,
        centerMode: true,
        centerPadding: '40px',
        slidesToShow: 1
      }
    }
  ]
});
});
	</script>
<footer>
<div id="footer-main-gradien-bar">
<div class="fixed-container">
<div class="footer-main">
	<div class="footer-san-sol">
		<!-- <ul class="no-markers"> -->
		<a href="/about/templates/about.html" target="_blank">Біз жайлы</a>
		<a href="/tickets/templates/" target="_blank">Билеттер</a>
		<a href="#">Главный</a>
		<a href="/media/templates/media.html" target="_blank">Суреттер</a>
		<a href="/matches/templates/matches.html" target="_blank">Матчтар</a>
	<!-- </ul> -->
	</div>
	<div class="footer-san-on">
		<a href="#" target="_blank">Instagram:</a>
		<a href="#" target="_blank">Whatsapp:</a>
		<a href="#" target="_blank">Telegram:</a>
	</div>
</div>
</div>
</div>
</footer>
</body>
</html>
