body {
	margin: 0;
	padding: 0;
	font: small sans-serif ;
	background-image:  linear-gradient(rgba(3, 25, 39, 0.8),rgba(3, 25, 39, 0.8) ) , url('../../../Html/img/stadion_sidenia_krasnyj_25765_1280x720.jpg');
}

header {
	width: 100%;
}

.fixed-container {
	width: 1000px;
	margin: 0 auto;
	padding: 20px 0px 0px;
}

.navbar {
	width: 90%;
	display: flex;
	justify-content: end;
}

.navbar-menu {
	height: 10vh;
	display: flex;
	align-items:  center;
}

.navbar-menu a {
		font-size: 1.3em ;
    padding:0 10px;
    text-decoration: none;
    color: white;
}

.navbar-menu a:hover {
	text-decoration: underline;
	border-radius: 5px;
	border: thick white solid;
	color :  red;
	padding: 10px;
}

.main-match-times {
	padding: 10px 0px;
	height: 15vh;
	margin: auto;
	display: flex;
	align-items: center;
	width: 100%;
	background-repeat: no-repeat;
	color: white;
}

.mathes-spicok {
	width: 80%;
	font-size: 1.3em ;
	padding:0 10px;
	text-decoration: none;
	color: white;
}

.mathes-spicok:hover {
	text-decoration: underline;
}

.mathes-spicok a {
	text-decoration: none;
	color: white;
}

.mathes-spicok a:hover {
	color: red;
	text-decoration: underline;
	border-radius: 5px;
}


.main-page {
	height: 70%;
	width: 100%;
}

.main-text {
	color: red;
		text-shadow: 1px 1px white, 2px 2px white,
		 3px 3px white, 4px 4px white,
		 5px 5px white, 6px 6px white,
		 7px 7px white, 8px 8px white;
	justify-content: center;
	font-size: 4em;
	text-align: center;
	padding: 10px;
	font-family: Franklin-Cothic;
}

.center img::before {
	color: inherit;
	content: "";
}

#footer-main-gradien-bar {
		height: 40vh;
		background: linear-gradient(rgba(3, 25, 39, 1),rgba(3, 25, 39, 1) );
}

.footer-main {
	width: 100%;
	display: flex;
	color: white;
}

.footer-san-sol {
	width: 70%;
	font-size: 1.2em;
	color: white;
	text-decoration: none;
	margin-top: 20px;
}

.footer-san-sol a {
	text-decoration: none;
	color: white;
	margin: 50px 50px 50px 0px;
	padding: 20px 10px 20px;
}

.footer-san-sol a:hover {
	color: red;
	text-decoration: underline;
}

.footer-san-on {
	width: 30%;
	display: flex;
	color: white;
	margin-top: 20px;
	row-count: 3;
}


.footer-san-on a {
	color: white;
	text-decoration: none;
	font-size: 1.2em;
	padding: 0em 1.2em 1.2em;
	display: flex;
	justify-content: center;
}

.footer-san-on a:hover {
	color: red;
	text-decoration: underline;

}
