body {
	margin: 0;
	padding: 0;
	font: small sans-serif ;
	background-image:  linear-gradient(rgba(3, 25, 39, 0.8),rgba(3, 25, 39, 0.8) ) , url('../../../Html/img/stadion_sidenia_krasnyj_25765_1280x720.jpg');
}

header {
	/* border: thick solid red; */
	width: 100%;
}

header .navbar {
	width: 90%;
	display: flex;
	justify-content: end;
}

header .navbar .navbar-menu {
	height: 10vh;
	display: flex;
	align-items:  center;
}

header .navbar .navbar-menu a {
	font-size: 1.3em ;
    padding:0 10px;
    text-decoration: none;
    color: white;
}

header .navbar .navbar-menu a:hover {
	text-decoration: underline;
	border-radius: 5px;
	border: thick white solid;
	color :  red;
	padding: 10px;
} 

section .main-match-times {
	/* border: thick solid blue; */
	padding: 10px 0px;
	height: 15vh;
	margin: auto;
	display: flex;
	align-items: center;
	width: 100%;
	/*background-image:  linear-gradient(rgba(0, 0, 0, 0.8),rgba(0, 0, 0, 0.5) ) , url('../../../Html/img/stadion_sidenia_krasnyj_25765_1280x720.jpg');
	*/background-repeat: no-repeat;
	/*background-size: 100% auto;*/
	color: white;
}

section .main-match-times .mathes-spicok {
	width: 80%;
}

section .main-match-times .mathes-spicok li {
	display: inline-block;
	margin: 0 3%;
	font-size: 1.5em;
}

section .main-match-times .mathes-spicok a {
	text-decoration: none;
	color: white;
}

section .main-match-times .mathes-spicok a:hover {
	color: red;
	text-decoration: underline;
	border-radius: 5px;
	border: thick white solid;
	padding: 10px;
}


section .main-page {
	/* border: thick orange solid; */
	height: 70%;
	width: 100%;
	/*background-repeat: no-repeat;
	background-position: center;
	/*background: linear-gradient(rgba(0, 0, 0, 0.8),rgba(0, 0, 0, 0.8) ) , url('../../../Html/img/stadion_sidenia_krasnyj_25765_1280x720.jpg');
	*/
}

.main-text {
	color: red;
		text-shadow: 1px 1px white, 2px 2px white,
		 3px 3px white, 4px 4px white,
		 5px 5px white, 6px 6px white,
		 7px 7px white, 8px 8px white;
	justify-content: center;
	font-size: 5em;
	text-align: center;
	padding: 10px;
	font-family: Franklin-Cothic;
}

.center img::before {
	color: inherit;
	content: "";
}


.footer-main {
	/* border: thick black solid; */
	width: 100%;
	height: 40vh;
	padding: 30px 0 50px;
	display: flex;
	background: linear-gradient(rgba(3, 25, 39, 1),rgba(3, 25, 39, 1) );
	/*
	background-repeat: no-repeat;
	background-position: center; */
	color: white;
}

.footer-san-sol {
	column-count: 3;
	width: 70%;
	font-size: 1.2em;
	color: white;
	text-decoration: none;
}

.footer-san-sol li {
	padding: 1.2em;
}

ul.no-markers {
	list-style-type: none;
}

.footer-san-sol a {
	text-decoration: none;
	color: white;
	padding: 1.5em;
}

.footer-san-sol a:hover {
	color: red;
	text-decoration: underline;
	border-radius: 3em;
	border: thick white solid;
}

.footer-san-on {
	width: 30%;	
	display: flex;
	flex-direction: column;
	color: white;
}


.footer-san-on a {
	color: white;
	text-decoration: none;
	font-size: 1.8em;
	padding: 1.2em;
	display: flex;
	justify-content: center;
}

.footer-san-on a:hover {
	color: red;
	text-decoration: underline;
	border-radius: 4em;
	border: thick white solid;
	padding: 1.1em;
}