<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>{{ title }}</title>
	<link rel="stylesheet" type="text/css" href="media.css">
</head>
<body>
	<header>
		<div class="header-about">Header</div>	
	</header>
	
	<section>
		<div class="section-about">Media</div>
	</section>
	
	<footer>
		<div class="footer-about">Footer
			<div class="footer-san-sol">
				<ul>
				<li>Командалар</li>
				<li>Сайт жайлы</li>
				<li>Главный</li>
				<li>Суреттер</li>
				<li>Матчтар</li>
				</ul>
			</div>
		<div class="footer-san-on">
			<a href="#">Instagram:</a>
			<a href="#">Whatsapp:</a>
			<a href="#">Telegram:</a>
		</div>
		</div>
	</footer>

</body>
</html>